<a href="https://colab.research.google.com/github/MKJ07/100-Days-of-Python-MKJ07/blob/main/Day%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#100 Days of Python

# Day 1

In [ ]:
print("Hello World!!")

Hello World!!

In [ ]:
print("hello i am \n MKJ")
print("Hello"+"MKJ")

hello i am
 MKJ
HelloMKJ

In [ ]:
#input
# input("What is your name")
print("Hello i am "+ input())

mkj
Hello i am mkj

In [ ]:
name="Mahesh"
print(len(name))

6

In [ ]:
# Swap two value
a=20;b=10
t=a
a=b
b=t
print(a)
print(b)

10
20

In [ ]:
# Band Game generator
print("Hii")
name=input("Enter your city name ")
pet_name=input("Enter your pet name ")
print("Your band name is:"+ name+" "+pet_name)

Hii
Enter your city nameKolkata
Enter your pet namepuppy
Your band name is:Kolkata puppy

# Day 2

In [ ]:
# Primitive Data type
# String
print("Hello"[0])

# Integer
num=123456
print(123+456)

# float
dec=1235.63
print(type(dec))

# Boolean
print(num==dec)

H
579
<class 'float'>
False

In [ ]:
# Type error
num=len(input(" Enter your name "))
# print("Your name has "+num+" characters") //TypeError: can only concatenate str (not "int") to str

# type conversion
print("Your name has "+ str(num)+" characters")

print(70+ float("125.236"))

 Enter your name Mahesh
Your name has 6 characters
195.236

In [ ]:
# Mathematical Operations in Python
print("Addition ",3+5)
print("Substraction ",35-9)
print("Multiply ",3*5)
print("Division ",35/5)
print("Exponent ",3**2)

# PEDMAS(Paranthesis,Exponent,Division,Multiply,Addition,Substract) rule
print(3*3-5/2+6)

print((3*3-5)/2+6)

Addition  8
Substraction  26
Multiply  15
Division  7.0
Exponent  9
12.5
8.0

In [ ]:
# Number manipulation and Fstring
print(8/3)
num=(8//3) # gives int value
print(type(num))

print(f"There are {20} flat in {2} building and having {num} gaurd") # Fstring

2.6666666666666665
<class 'int'>
There are 20 flat in 2 building and having 2 gaurd

In [ ]:
# Life in weeks
age=int(input())
year=90-age
weeks=year*52

print(f"You have {weeks} left in your life")

24
You have 3432 left in your life

In [ ]:
# Project 2
print("Welcome to tip calculator")

bill=float(input("What was the bill? "))
perbilltip=int(input("What percentage tip you want to give? 10,12,15? "))
ppl=int(input("How many people you want to split? "))

perbillinrs=float((bill*perbilltip)/100)
totalbill=round((bill+perbillinrs)/ppl,2)

print(f"Total bill you all have to pay is{totalbill} ")

Welcome to tip calculator
What was the bill? 124.56
What percentage tip you want to give? 10,12,15? 12
How many people you want to split? 7
Total bill you all have to pay is19.93

# Day 3

In [ ]:
# Conditional Statement
height=int(input("Enter your height "))

if height>120:
  print("You are eligible")
else:
  print("You are not eligible")

Enter your height 132
You are eligible

In [ ]:
# Check the number is even number or odd number
num=int(input("Enter the number "))

if num % 2 == 0 :
  print(f"{num} is an even number")
else:
  print(f"{num} is a odd number")

Enter the number34
34 is an even number

In [ ]:
# Elif Statement - Nested if/else
height=int(input("Enter your height "))

if height > 120:
  print("Congratulations!! You are eligible")
  age=int(input("Enter your age "))
  if age>18:
    print("You have to pay 17$")
  elif age<18 and age>12:
    print("You have to pay 12$")
  else:
    print("You have to pay 7$")
else:
  print("Your are not eligible")

Enter your height 342
Congratulations!! You are eligible
Enter your age 14
You have to pay 12$

In [ ]:
# BMI Calculator
height=float(input("Enter your height "))
weight=int(input("Enter your weight "))

bmi=weight/(height*height)

if bmi<18.5:
  print(f"Your BMI is {bmi}, you are underweight")
elif bmi<25:
  print(f"Your BMI is {bmi}, you are normal")
elif bmi<30:
  print(f"Your BMI is {bmi}, you are overweight")
elif bmi<35:
  print(f"Your BMI is {bmi}, you are obese")
else:
  print(f"Your BMI is {bmi}, you are clinically obese")

Enter your height 1.8
Enter your weight 50
Your BMI is 15.432098765432098, you are underweight

In [ ]:
# Check the year is leap year or not
year=int(input("Enter the year "))
if (year%4==0 and year%100!=0) or year%400==0:
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter the year 2004
2004 is a leap year

In [ ]:
# Nested if
height=int(input("Enter your height "))
amt=0
if height > 120:
  print("Congratulations!! You are eligible")
  age=int(input("Enter your age "))
  if age>18:
    amt=18
    # print("You have to pay 17$")
  elif age<18 and age>12:
    amt=12
    # print("You have to pay 12$")
  else:
    amt=7
    # print("You have to pay 7$")
  ph=input("Do you want photo? Y or N ")
  if ph=='Y':
    amt+=3
  print(f"Total amount you have to pay ${amt}")
else:
  print("Your are not eligible")

Enter your height 343
Congratulations!! You are eligible
Enter your age 34
Do you want photo? Y or N Y
Total amount you have to pay $21

In [ ]:
# Pizza order practice
size=input("Enter the size of the pizza, S/M/L: ")
pp=input("Do you pepperoni? Y/N: ")
cheese=input("Do you want extra cheese? Y/N: ")
price=0
if size=='S':
  price=15
  if pp=='Y':
    price+=2
elif size=='M':
  price=20
  if pp=='Y':
    price+=3
else:
  price=25
  if pp=='Y':
    price+=3
if cheese=='Y':
    price+=1
print(f"Cost of pizza is {price}")

Enter the size of the pizza, S/M/L: S
Do you pepperoni? Y/N: N
Do you want extra cheese? Y/N: Y
Cost of pizza is 16

In [ ]:
# Love Calculator
name1=input("Enter the person 1's name: ")
name2=input("Enter the person 2's name: ")
tcount=0;lcount=0
combined_name=name1+name2
name3=combined_name.lower()
t=name3.count('t')
r=name3.count('r')
u=name3.count('u')
e=name3.count('e')
name_count=t+r+u+e

l=name3.count('l')
o=name3.count('o')
v=name3.count('v')
e=name3.count('e')
l_count=l+o+v+e

total_count=int(str(name_count)+str(l_count))
print(f"Your love score is {total_count} ")

Enter the person 1's name: Angela yu
Enter the person 2's name: jack bauer
Your love score is 53

In [ ]:
# Project 3
print('''================================================.
     .-.   .-.     .--.                         |
    | OO| | OO|   / _.-' .-.   .-.  .-.   .''.  |
    |   | |   |   \  '-. '-'   '-'  '-'   '..'  |
    '^^^' '^^^'    '--'                         |
===============.  .-.  .================.  .-.  |
               | |   | |                |  '-'  |
               | |   | |                |       |
               | ':-:' |                |  .-.  |
               |  '-'  |                |  '-'  |
==============='       '================'       |''')

print("Welcome to Treasure Island.\n Your mission is to find the treasure")

if input("Enter the first move: ")=="left":
  if input("Do you want to swim or wait: ")=="wait":
    if input("Which color gate you want to open: Blue/Yellow/Red ")=="Yellow":
      print("Congratulations!! You win the game.")
    else:
      print("Game Over")
  else:
    print("Game Over")
else:
  print("Game Over")

================================================.
     .-.   .-.     .--.                         |
    | OO| | OO|   / _.-' .-.   .-.  .-.   .''.  |
    |   | |   |   \  '-. '-'   '-'  '-'   '..'  |
    '^^^' '^^^'    '--'                         |
===============.  .-.  .================.  .-.  |
               | |   | |                |  '-'  |
               | |   | |                |       |
               | ':-:' |                |  .-.  |
l42            |  '-'  |                |  '-'  |
==============='       '================'       |
Welcome to Treasure Island.
 Your mission is to find the treasure
Enter the first move: left
Do you want to swim or wait: wait
Which color gate you want to open: Blue/Yellow/Red Yellow
Congratulations!! You win the game.

# Day 4

In [ ]:
# importing random library
import random

In [ ]:
# Random integer
rand_num=random.randint(0,10)
print(rand_num)
rand_float=random.random()
print(rand_num*rand_float)

8
4.436280547090154

In [ ]:
# Toss generator
rand_num=random.randint(1,100)
if rand_num%2==0:
  print("Head it is..")
else:
  print("Tail it is..")

Tail it is..

In [ ]:
# Lists
ind_states=["Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar Islands","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","National Capital Territory of Delhi","Puducherry"]
size=len(ind_states)
idx=random.randint(0,size)
print(ind_states[idx])

Jammu and Kashmir

In [ ]:
# List - Banker Roulette
name_list=["Mkj","Tiwari","Notu","Dhiru","Sunny","Mota","Prateek","Tej","Ayush"]
size=len(name_list)
chance=random.randint(0,size)
print(f"{name_list[chance]} will pay the bill")

Dhiru will pay the bill

In [ ]:
# Treasure Map
list1=["_","_","_"]
list2=["_","_","_"]
list3=["_","_","_"]

nested_list=[list1,list2,list3]
position=input()
letter=position[0].lower()
li=["a","b","c"]
idx1=li.index(letter)
idx2=int(position[1])-1
nested_list[idx1][idx2]="X"
print(nested_list)

C3
[['_', '_', '_'], ['_', '_', '_'], ['_', '_', 'X']]

In [ ]:
# Day 4 project
# Rock
rock='''
    _______
---'   ____)
      (_____)
      (_____)
      (____)
---.__(___)
'''

# Paper
paper='''
     _______
---'    ____)____
           ______)
          _______)
         _______)
---.__________)
'''

# Scissors
scissors='''
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)
'''

user_input=int(input("Press 1 for rock, 2 for paper, 3 for scissors"))
com_input=random.randint(1,3)
if(user_input==com_input):
  print("Draw")
elif (user_input==1 and com_input==3):
  print(f"User: {rock} \n com: {scissors}\n User won the bet")
elif (user_input==3 and com_input==2):
  print(f"User: {scissors} \n com: {paper}\n User won the bet")

Press 1 for rock, 2 for paper, 3 for scissors3
User:
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)

 com:
     _______
---'    ____)____
           ______)
          _______)
         _______)
---.__________)

 User won the bet