<a href="https://colab.research.google.com/github/MKJ07/100-Days-of-Python-MKJ07/blob/main/Day%2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#100 Days of Python

# Day 1

In [ ]:
print("Hello World!!")

Hello World!!

In [ ]:
print("hello i am \n MKJ")
print("Hello"+"MKJ")

hello i am
 MKJ
HelloMKJ

In [ ]:
#input
# input("What is your name")
print("Hello i am "+ input())

mkj
Hello i am mkj

In [ ]:
name="Mahesh"
print(len(name))

6

In [ ]:
# Swap two value
a=20;b=10
t=a
a=b
b=t
print(a)
print(b)

10
20

In [ ]:
# Band Game generator
print("Hii")
name=input("Enter your city name ")
pet_name=input("Enter your pet name ")
print("Your band name is:"+ name+" "+pet_name)

Hii
Enter your city nameKolkata
Enter your pet namepuppy
Your band name is:Kolkata puppy

# Day 2

In [ ]:
# Primitive Data type
# String
print("Hello"[0])

# Integer
num=123456
print(123+456)

# float
dec=1235.63
print(type(dec))

# Boolean
print(num==dec)

H
579
<class 'float'>
False

In [ ]:
# Type error
num=len(input(" Enter your name "))
# print("Your name has "+num+" characters") //TypeError: can only concatenate str (not "int") to str

# type conversion
print("Your name has "+ str(num)+" characters")

print(70+ float("125.236"))

 Enter your name Mahesh
Your name has 6 characters
195.236

In [ ]:
# Mathematical Operations in Python
print("Addition ",3+5)
print("Substraction ",35-9)
print("Multiply ",3*5)
print("Division ",35/5)
print("Exponent ",3**2)

# PEDMAS(Paranthesis,Exponent,Division,Multiply,Addition,Substract) rule
print(3*3-5/2+6)

print((3*3-5)/2+6)

Addition  8
Substraction  26
Multiply  15
Division  7.0
Exponent  9
12.5
8.0

In [ ]:
# Number manipulation and Fstring
print(8/3)
num=(8//3) # gives int value
print(type(num))

print(f"There are {20} flat in {2} building and having {num} gaurd") # Fstring

2.6666666666666665
<class 'int'>
There are 20 flat in 2 building and having 2 gaurd

In [ ]:
# Life in weeks
age=int(input())
year=90-age
weeks=year*52

print(f"You have {weeks} left in your life")

24
You have 3432 left in your life

In [ ]:
# Project 2
print("Welcome to tip calculator")

bill=float(input("What was the bill? "))
perbilltip=int(input("What percentage tip you want to give? 10,12,15? "))
ppl=int(input("How many people you want to split? "))

perbillinrs=float((bill*perbilltip)/100)
totalbill=round((bill+perbillinrs)/ppl,2)

print(f"Total bill you all have to pay is{totalbill} ")

Welcome to tip calculator
What was the bill? 124.56
What percentage tip you want to give? 10,12,15? 12
How many people you want to split? 7
Total bill you all have to pay is19.93

# Day 3

In [ ]:
# Conditional Statement
height=int(input("Enter your height "))

if height>120:
  print("You are eligible")
else:
  print("You are not eligible")

Enter your height 132
You are eligible

In [ ]:
# Check the number is even number or odd number
num=int(input("Enter the number "))

if num % 2 == 0 :
  print(f"{num} is an even number")
else:
  print(f"{num} is a odd number")

Enter the number34
34 is an even number

In [ ]:
# Elif Statement - Nested if/else
height=int(input("Enter your height "))

if height > 120:
  print("Congratulations!! You are eligible")
  age=int(input("Enter your age "))
  if age>18:
    print("You have to pay 17$")
  elif age<18 and age>12:
    print("You have to pay 12$")
  else:
    print("You have to pay 7$")
else:
  print("Your are not eligible")

Enter your height 342
Congratulations!! You are eligible
Enter your age 14
You have to pay 12$

In [ ]:
# BMI Calculator
height=float(input("Enter your height "))
weight=int(input("Enter your weight "))

bmi=weight/(height*height)

if bmi<18.5:
  print(f"Your BMI is {bmi}, you are underweight")
elif bmi<25:
  print(f"Your BMI is {bmi}, you are normal")
elif bmi<30:
  print(f"Your BMI is {bmi}, you are overweight")
elif bmi<35:
  print(f"Your BMI is {bmi}, you are obese")
else:
  print(f"Your BMI is {bmi}, you are clinically obese")

Enter your height 1.8
Enter your weight 50
Your BMI is 15.432098765432098, you are underweight

In [ ]:
# Check the year is leap year or not
year=int(input("Enter the year "))
if (year%4==0 and year%100!=0) or year%400==0:
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter the year 2004
2004 is a leap year

In [ ]:
# Nested if
height=int(input("Enter your height "))
amt=0
if height > 120:
  print("Congratulations!! You are eligible")
  age=int(input("Enter your age "))
  if age>18:
    amt=18
    # print("You have to pay 17$")
  elif age<18 and age>12:
    amt=12
    # print("You have to pay 12$")
  else:
    amt=7
    # print("You have to pay 7$")
  ph=input("Do you want photo? Y or N ")
  if ph=='Y':
    amt+=3
  print(f"Total amount you have to pay ${amt}")
else:
  print("Your are not eligible")

Enter your height 343
Congratulations!! You are eligible
Enter your age 34
Do you want photo? Y or N Y
Total amount you have to pay $21

In [ ]:
# Pizza order practice
size=input("Enter the size of the pizza, S/M/L: ")
pp=input("Do you pepperoni? Y/N: ")
cheese=input("Do you want extra cheese? Y/N: ")
price=0
if size=='S':
  price=15
  if pp=='Y':
    price+=2
elif size=='M':
  price=20
  if pp=='Y':
    price+=3
else:
  price=25
  if pp=='Y':
    price+=3
if cheese=='Y':
    price+=1
print(f"Cost of pizza is {price}")

Enter the size of the pizza, S/M/L: S
Do you pepperoni? Y/N: N
Do you want extra cheese? Y/N: Y
Cost of pizza is 16

In [ ]:
# Love Calculator
name1=input("Enter the person 1's name: ")
name2=input("Enter the person 2's name: ")
tcount=0;lcount=0
combined_name=name1+name2
name3=combined_name.lower()
t=name3.count('t')
r=name3.count('r')
u=name3.count('u')
e=name3.count('e')
name_count=t+r+u+e

l=name3.count('l')
o=name3.count('o')
v=name3.count('v')
e=name3.count('e')
l_count=l+o+v+e

total_count=int(str(name_count)+str(l_count))
print(f"Your love score is {total_count} ")

Enter the person 1's name: Angela yu
Enter the person 2's name: jack bauer
Your love score is 53

In [ ]:
# Project 3
print('''================================================.
     .-.   .-.     .--.                         |
    | OO| | OO|   / _.-' .-.   .-.  .-.   .''.  |
    |   | |   |   \  '-. '-'   '-'  '-'   '..'  |
    '^^^' '^^^'    '--'                         |
===============.  .-.  .================.  .-.  |
               | |   | |                |  '-'  |
               | |   | |                |       |
               | ':-:' |                |  .-.  |
               |  '-'  |                |  '-'  |
==============='       '================'       |''')

print("Welcome to Treasure Island.\n Your mission is to find the treasure")

if input("Enter the first move: ")=="left":
  if input("Do you want to swim or wait: ")=="wait":
    if input("Which color gate you want to open: Blue/Yellow/Red ")=="Yellow":
      print("Congratulations!! You win the game.")
    else:
      print("Game Over")
  else:
    print("Game Over")
else:
  print("Game Over")

================================================.
     .-.   .-.     .--.                         |
    | OO| | OO|   / _.-' .-.   .-.  .-.   .''.  |
    |   | |   |   \  '-. '-'   '-'  '-'   '..'  |
    '^^^' '^^^'    '--'                         |
===============.  .-.  .================.  .-.  |
               | |   | |                |  '-'  |
               | |   | |                |       |
               | ':-:' |                |  .-.  |
l42            |  '-'  |                |  '-'  |
==============='       '================'       |
Welcome to Treasure Island.
 Your mission is to find the treasure
Enter the first move: left
Do you want to swim or wait: wait
Which color gate you want to open: Blue/Yellow/Red Yellow
Congratulations!! You win the game.

# Day 4

In [ ]:
# importing random library
import random

In [ ]:
# Random integer
rand_num=random.randint(0,10)
print(rand_num)
rand_float=random.random()
print(rand_num*rand_float)

8
4.436280547090154

In [ ]:
# Toss generator
rand_num=random.randint(1,100)
if rand_num%2==0:
  print("Head it is..")
else:
  print("Tail it is..")

Tail it is..

In [ ]:
# Lists
ind_states=["Andhra Pradesh","Arunachal Pradesh ","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu and Kashmir","Jharkhand","Karnataka","Kerala","Madhya Pradesh","Maharashtra","Manipur","Meghalaya","Mizoram","Nagaland","Odisha","Punjab","Rajasthan","Sikkim","Tamil Nadu","Telangana","Tripura","Uttar Pradesh","Uttarakhand","West Bengal","Andaman and Nicobar Islands","Chandigarh","Dadra and Nagar Haveli","Daman and Diu","Lakshadweep","National Capital Territory of Delhi","Puducherry"]
size=len(ind_states)
idx=random.randint(0,size)
print(ind_states[idx])

Jammu and Kashmir

In [ ]:
# List - Banker Roulette
name_list=["Mkj","Tiwari","Notu","Dhiru","Sunny","Mota","Prateek","Tej","Ayush"]
size=len(name_list)
chance=random.randint(0,size)
print(f"{name_list[chance]} will pay the bill")

Dhiru will pay the bill

In [ ]:
# Treasure Map
list1=["_","_","_"]
list2=["_","_","_"]
list3=["_","_","_"]

nested_list=[list1,list2,list3]
position=input()
letter=position[0].lower()
li=["a","b","c"]
idx1=li.index(letter)
idx2=int(position[1])-1
nested_list[idx1][idx2]="X"
print(nested_list)

C3
[['_', '_', '_'], ['_', '_', '_'], ['_', '_', 'X']]

In [ ]:
# Day 4 project
# Rock
rock='''
    ______
---'   ___)
      (____)
      (_____)
      (____)
---.__(___)
'''

# Paper
paper='''
     _______
---'    ____)____
           ______)
          _______)
         _______)
---.__________)
'''

# Scissors
scissors='''
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)
'''

user_input=int(input("Press 1 for rock, 2 for paper, 3 for scissors: "))
com_input=random.randint(1,3)
if user_input==com_input:
  print("Draw")
if user_input==1:
  if com_input==2:
    print(f"User: {rock} \n Com: {paper} \n Com won the bet")
  else:
    print(f"User: {rock} \n Com: {scissors} \n User won the bet")
elif user_input==2:
  if com_input==1:
    print(f"User: {paper} \n Com: {scissors} \n Com won the bet")
  else:
    print(f"User: {paper} \n Com: {rock} \n User won the bet")
else:
  if com_input==1:
    print(f"User: {scissors} \n Com: {rock} \n Com won the bet")
  else:
    print(f"User: {scissors} \n Com {paper} \n User won the bet")

Press 1 for rock, 2 for paper, 3 for scissors: 1
User:
    ______
---'   ___)
      (____)
      (_____)
      (____)
---.__(___)

 Com:
    _______
---'   ____)____
          ______)
       __________)
      (____)
---.__(___)

 User won the bet

# Day 5

In [ ]:
# for loop in python
fruits=["apples","mangoes","banana","kiwi","coconut","orange"]
for i in fruits:
  print(i,"\t")

apples
mangoes
banana
kiwi
coconut
orange

In [ ]:
# Average Height
list=[145,167,200,190,170]
size=len(list)
sum=0
for i in list:
  sum+=i
print(f"Total height: {sum}")
print(f"No of Students: {size}")
print(f"Average of heights: {sum/size}")

Total height: 872
No of Students: 5
Average of heights: 174.4

In [ ]:
# Highest Score
marks_list=[78,69,90,78,95,56]
high=0
for i in marks_list:
  if i>high:
    high=i
print(f"Highest marks: {high}")

Highest marks: 95

In [ ]:
# range in for loop
for i in range(0,10):
  print(i) # it will not print 10 just like (i<10) works

# Adding even number between 1 to 100
sum=0
for i in range(1,101):
  if i%2==0:
    sum+=i
print(sum)

# second way
even_sum=0
for i in range(0,101,2):
  even_sum+=i
print(even_sum)

0
1
2
3
4
5
6
7
8
9
2550
2550

In [ ]:
# FizzBuzz game
for i in range(0,101):
  if i%3==0:
    print("Fizz")
  elif i%5==0:
    print("Buzz")
  elif i%3==0 and i%5==0:
    print("FizzBuzz")
  else:
    print(i)

Fizz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
#Day 5 Project.
# Password Generator Project.
import random
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '#', '$', '%', '&', '(', ')', '*', '+']

print("Welcome to the PyPassword Generator!")
nr_letters = int(input("How many letters would you like in your password?\n"))
nr_symbols = int(input(f"How many symbols would you like?\n"))
nr_numbers = int(input(f"How many numbers would you like?\n"))


# Easy Level
# password=""
# for i in range(0,nr_letters):
#   password+=str(letters[random.randint(0,len(letters))])
# for i in range(0,nr_symbols):
#   password+=str(numbers[random.randint(0,len(numbers))])
# for i in range(0,nr_numbers):
#   password+=str(symbols[random.randint(0,len(symbols))])
# print(password)

# Hard level
password_gen=[]
for i in range(0,nr_letters):
  password_gen+=random.choice(letters)
for i in range(0,nr_symbols):
  password_gen+=random.choice(symbols)
for i in range(0,nr_numbers):
  password_gen+=random.choice(numbers)
random.shuffle(password_gen)
pass_key=""
for i in password_gen:
  pass_key+=i
print(pass_key)

Welcome to the PyPassword Generator!
How many letters would you like in your password?
12
How many symbols would you like?
3
How many numbers would you like?
5
s$nplyk4#8R2gDM5P*6l

# Day 6

In [ ]:
# Defining and Calling a function
def my_function():
  print("I am MKJ")
my_function() #calling the function

def addition(a,b):
  print(a+b)
addition(3,5)

I am MKJ
8

In [ ]:
# Practice Function
def turn_around():
    turn_left()
    turn_left()
def turn_right():
    turn_left()
    turn_left()
    turn_left()
turn_left()
move()
move()
turn_right()
move()
move()
turn_right()
move()
move()
turn_right()
move()
move()

In [ ]:
# Hurdles game 1
def turn_right():
    turn_left()
    turn_left()
    turn_left()
def hurdles():
    move()
    turn_left()
    move()
    turn_right()
    move()
    turn_right()
    move()
    turn_left()
# for i in range(0,6):
#     hurdles()

# Using While loop
while i<6:
  hurdles()
  i+=1

# Hurdles game 2
def turn_right():
    turn_left()
    turn_left()
    turn_left()
def hurdles():
    move()
    turn_left()
    move()
    turn_right()
    move()
    turn_right()
    move()
    turn_left()
i=0
while at_goal()!=True:
  hurdles()

# Hurdles game 3
def turn_right():
    turn_left()
    turn_left()
    turn_left()
def hurdles():
    turn_left()
    move()
    turn_right()
    move()
    turn_right()
    move()
    turn_left()


while not at_goal():
    if wall_in_front():
        hurdles()
    else:
        move()


# Hurdles game 4
def turn_right():
    turn_left()
    turn_left()
    turn_left()
def hurdles():
    turn_left()
    while not wall_in_front() and not right_is_clear():
        move()
    turn_right()
    move()
    turn_right()
    while not wall_in_front():
        move()
    turn_left()

while not at_goal():
    if wall_in_front():
        hurdles()
    elif not front_is_clear():
        turn_left()
    else:
        move()

In [ ]:
# Day 6 project
def turn_right():
    turn_left()
    turn_left()
    turn_left()

while front_is_clear():
    move()
turn_left()

while not at_goal():
    if right_is_clear():
        turn_right()
        move()
    elif front_is_clear():
        move()
    else:
        turn_left()

# Day 7

In [ ]:
# Picking a random words
import random
list=["mahesh","Prateek","Tej","Saket","Sunny"]
guess=random.choice(list)
letter=input("Enter the word: ")
for i in guess:
  if letter in i:
    print("Right")
  else:
    print("Wrong")

Enter the word: a
Wrong
Right
Wrong
Wrong
Wrong
Wrong

In [ ]:
# Replace the blank with chosen letter
list=["mahesh","Prateek","Tej","Saket","Sunny"]
guess=random.choice(list)
display=[]
word_length=len(guess)
for i in range(word_length):
  display+="_"
print(display)
letter=input("Enter the letter:  ")

for i in range(word_length):
  if letter==guess[i]:
    display[i]=letter

print(display)

['_', '_', '_']
Enter the lettere
['_', 'e', '_']

In [ ]:
from IPython.display import clear_output
HANGMAN_PICS = ['''
  +---+
      |
      |
      |
     ===''', '''
  +---+
  O   |
      |
      |
     ===''', '''
  +---+
  O   |
  |   |
      |
     ===''', '''
  +---+
  O   |
 /|   |
      |
     ===''', '''
  +---+
  O   |
 /|\  |
      |
     ===''', '''
  +---+
  O   |
 /|\  |
 /    |
     ===''', '''
  +---+
  O   |
 /|\  |
 / \  |
     ===''']


hangman_len=len(HANGMAN_PICS)
list=["mahesh","prateek","tej","saket","sunny"]
guess=random.choice(list)
print(guess)
display=[]
word_length=len(guess)
for i in range(word_length):
  display+="_"

chance=0
at_goal=False
while not at_goal:
  letter=input("Enter the letter: ").lower()
  clear_output()
  if "_" not in display:
      at_goal=True
      print("You win")
  if letter in display:
    print(display)
    print("You have already chosen the letter")
  elif letter not in guess :
    print(f"You have chosen the wrong letter{letter}, you lose a chance")
    print(HANGMAN_PICS[chance])
    chance+=1
    if chance==hangman_len:
      at_goal=True
      print("You Lose")
  for i in range(word_length):
    if letter==guess[i]:
      display[i]=letter

You have chosen the wrong letterc, you lose a chance

  +---+
  O   |
 /|\  |
 / \  |
     ===
You Lose

# Day 8

In [ ]:
def greet():
  print("Hello")
greet()

Hello

In [ ]:
# function with input
def my_name(name):
  print(f"Hello i am {name}")
my_name("Mahesh")

Hello i am Mahesh

In [ ]:
# function with multiple input
def my_name(name,location):
  print(f"Hello i am {name} from {location}")
my_name("Mahesh","India")

# interchange the value
def my_name(name,location):
  print(f"Hello i am {name} from {location}")
my_name("India","Mahesh")

# same for variable assignment
def my_function(a,b,c):
  print(f"The values are {a}, {b}, {c}")

my_function(a=1,b=2,c=3)

# now interchanging the place
def my_function(a,b,c):
  print(f"The values are {a}, {b}, {c}")

my_function(c=3,a=1,b=2)

Hello i am Mahesh from India
Hello i am India from Mahesh
The values are 1, 2, 3
The values are 1, 2, 3

In [ ]:
# Paint area calculator
def paint_code(height,width,cover):
  cal=round((height*width)/cover) #we can also use math.ceil to round up
  print(cal)

test_h=int(input("Enter the height: "))
test_w=int(input("Enter the width: "))
coverage=5

paint_code(test_h,test_w,coverage)

Enter the height: 2
Enter the width: 4
2

In [ ]:
# to check the number is prime number or not
import math
def prime_num(number):
  count=0
  for i in range(1,number+1):
    if number%i==0:
      count+=1
  if count>2:
    print(f"{number} is not a prime number")
  else:
    print(f"{number} is a prime number")

prime_num(17)

# Another way
def prime_num(number):
  is_prime=True
  for i in range(2,number):
    if number%i==0:
      is_prime=False
  if not is_prime:
    print(f"{number} is not a prime number")
  else:
    print(f"{number} is a prime number")
prime_num(34)

17 is a prime number
34 is not a prime number

In [ ]:
# Caesar Cipher game
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
direction=input("Enter if you want to encode or decode the code")
text=input("Enter the message\n").lower()
shift=int(input("Enter the number of shift: "))

def encrypt(plain_text,shift_amt):
  encrypt_result=""
  for i in plain_text:
    x=letters.index(i)
    if x+shift_amt>25:
      x=(x+shift_amt)-26
    else:
      x=x+shift_amt
    encrypt_result+=letters[x]
  print(encrypt_result)

def decrypt(plain_text,shift_amt):
  decrypt_result=""
  for i in plain_text:
    x=letters.index(i)
    if x-shift_amt<0:
      x=(x-shift_amt)+26
    else:
      x=x-shift_amt
    decrypt_result+=letters[x]
  print(decrypt_result)
if direction=="encode":
  encrypt(text,shift)
else:
  decrypt(text,shift)
# rfmjxm

Enter if you want to encode or decode the codedecode
Enter the message
rfmjxm
Enter the number of shift: 5
mahesh

In [ ]:
# Putting all in one function
mkj_logo = '''
*   *  *   *  ***
** **  *  *    *
* * *  * *     *
*   *  *  *  * *
*   *  *   *  **
'''
print(mkj_logo)
def caesar():
  letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
  direction=input("Enter if you want to encode or decode the code: ").lower()
  plain_text=input("Enter the message\n").lower()
  shift_amt=int(input("Enter the number of shift: "))
  result=""

  if direction=="encode":
    for i in plain_text:
      x=letters.index(i)
      if x+shift_amt>25:
        x=(x+shift_amt)-26
      else:
        x=x+shift_amt
      result+=letters[x]
  else:
    for i in plain_text:
      x=letters.index(i)
      if x-shift_amt<0:
        x=(x-shift_amt)+26
      else:
        x=x-shift_amt
      result+=letters[x]

  print(result)
  restart=input("Do you want to restart the game (Y/N): ").upper()
  if restart=='Y':
    caesar()

caesar()

*   *  *   *  ***
** **  *  *    *
* * *  * *     *
*   *  *  *  * *
*   *  *   *  **

Enter if you want to encode or decode the code: encode
Enter the message
mahesh
Enter the number of shift: 5
rfmjxm
Do you want to restart the game (Y/N): y
Enter if you want to encode or decode the code: decode
Enter the message
rfmjxm
Enter the number of shift: 5
mahesh
Do you want to restart the game (Y/N): n

# Day 9

In [ ]:
# Dictionaries in Python
dict={"Bug":"An error",
      123:"a piece of code in it",
      "loop":"a continious running code"}
print(dict["loop"]) #we have to declare in the same data type as we define in the dictionary
print(dict[123])

a continious running code
a piece of code in it

In [ ]:
# Adding new element to dictionary
dict["mkj"]="Mahesh Kr. Jaiswal"
print(dict)

{'Bug': 'An error', 123: 'a piece of code in it', 'loop': 'a continious running code', 'mkj': 'Mahesh Kr. Jaiswal'}

In [ ]:
# empty the dictionary or changing the value of the key
dict["Bug"]="A big mistake"
print(dict)

# dict={} // it will wipe all the data in the dictionary and redefine it
# if the key is not there in the dictionary it will add it as a new key in the dictionary

{'Bug': 'A big mistake', 123: 'a piece of code in it', 'loop': 'a continious running code', 'mkj': 'Mahesh Kr. Jaiswal'}

In [ ]:
# Iterating through the dictionary using for loop
for key in dict:
  print(key) #it will print the key present in the dictionary

  print(dict[key]) # it will print the value of that key

In [ ]:
# Grade Program
marks_dict={"ram":45,"Shyam":95,"mkj":87,"tej":77}

grade_dict={}

for key in marks_dict:
  if marks_dict[key] > 90:
    grade_dict[key]="Outstanding"
  elif marks_dict[key]>80:
    grade_dict[key]="Exceeds Expectation"
  elif marks_dict[key]>70:
    grade_dict[key]="Acceptable"
  else:
    grade_dict[key]="fail"

print(grade_dict)

{'ram': 'fail', 'Shyam': 'Outstanding', 'mkj': 'Exceeds Expectation', 'tej': 'Acceptable'}

In [ ]:
# Nested list and nested dictionaries

# Nested dictionaries in dictionaries
nested_list_dict={"germany":["berlin","hamburg"],
                  "france":"paris"}

nested_dict={"germany":{"germany":["berlin","hamburg"],"total_visited":34},
             "france":["berlin","hamburg"]}
print(nested_list_dict)
print(nested_dict)

# Nested dictionaries in list
nested_list=[{
    "germany":["berlin","hamburg"],
    "france":"paris"
    },
     {
        "germany":["berlin","hamburg"],
        "total_visited":34
        }]
print(nested_list)

print(nested_list[0])

{'germany': ['berlin', 'hamburg'], 'france': 'paris'}
{'germany': {'germany': ['berlin', 'hamburg'], 'total_visited': 34}, 'france': ['berlin', 'hamburg']}
[{'germany': ['berlin', 'hamburg'], 'france': 'paris'}, {'germany': ['berlin', 'hamburg'], 'total_visited': 34}]
{'germany': ['berlin', 'hamburg'], 'france': 'paris'}

In [ ]:
from IPython.display import clear_output

In [ ]:
# Secret Auction Game
logo = '''
                         ___________
                         \         /
                          )_______(
                          |"""""""|_.-._,.---------.,_.-._
                          |       | | |               | | ''-.
                          |       |_| |_             _| |_..-'
                          |_______| '-' `'---------'` '-'
                          )"""""""(
                         /_________\
                      .---------------.
                     /_________________\
'''
print(logo)
bid_dict={}

def add_value_dict():
  key=input("Enter the bidder's name: ")
  value=int(input("Enter the bid amount: "))
  bid_dict[key]=value


def bid_game():
  more_bid=True
  while more_bid:
    add_value_dict()
    question=input("Do you have any more bid's (Y/N): ").upper()
    if question =="N":
      more_bid=False
    clear_output()
  h_bid_name=""
  h_bid=0
  for key in bid_dict:
    if bid_dict[key]>h_bid:
      h_bid_name=key
      h_bid=bid_dict[key]
  print(f"The highest bid is by {h_bid_name} of ${h_bid}")

bid_game()

# Day 10

In [ ]:
# Functions with output
def format_name(f_name,l_name):
  # f=f_name[0].upper()
  # l=l_name[0].upper()
  # name=f+f_name[1:len(f_name)]+" "+l+l_name[1:len(l_name)]
  f=f_name.title() # second way is using title() function
  l=l_name.title()
  name=f+" "+l
  return name

print(format_name("mahesh","jaiswal")) # Mahesh Jaiswal

Mahesh Jaiswal

In [ ]:
# Functions with multiple return value
def calc(operator,a,b):
  if operator=="+":
    return a+b
  elif operator=="-":
    return a-b
  else:
    return "Invalid input"
op=input("Enter the operator: ")
value1=int(input("Value1: "))
value2=int(input("Value2: "))
print(calc(op,value1,value2))

Enter the operator: +
Value1: 2
Value2: 4
6

In [ ]:
# Days in Month
day_in_month=[31,28,31,30,31,30,31,31,30,31,30,31]

def leap_y(year):
  if (year%4==0 and year%100!=0) or year%400==0:
    return True
  else:
    return False

def days_in_month(year,month):
  """This is the function to get the no of days in a month""" #this is a docstring use to keep the information about what function is made for
  if leap_y(year) and month=="2":
    return day_in_month[1]
  else:
    return day_in_month[month-1]
result=days_in_month(2030,5)
print(result)

31

In [ ]:
# Calculator Designing

# add
def add(a,b):
  return a+b

# substract
def sub(a,b):
  return a-b

# Multiply
def mul(a,b):
  return a*b

# divide
def div(a,b):
  return a/b

# Definig a dictionaries
calc_dict={"+":add,
           "-": sub,
            "*": mul,
            "/": div}

# num1=int(input("Enter the value 1: "))
# num2=int(input("Enter the value 2: "))

# for key in calc_dict:
#   print(key)
# operator=input("Choose one of the above operation: ")

# ans=calc_dict[operator](num1,num2)
# print(f"{num1} {operator} {num2} is {ans}")
def calculator():
  to_continue=True
  num1=float(input("Enter the value 1: "))

  for key in calc_dict:
      print(key)

  while to_continue:
    operator=input("Choose one of the above operation: ")
    num2=float(input("Enter the value 2: "))
    ans=calc_dict[operator](num1,num2)
    print(f"{num1} {operator} {num2} is {ans}")
    op=input("Do you want to continue the calculation or want a new calculation or you want to exit (y/n/e): ").lower()
    if op =="y":
      num1=ans
    elif op=="e":
      to_continue=False
    else:
      to_continue=False
      calculator()

calculator()

Enter the value 1: 5
+
-
*
/
Choose one of the above operation: *
Enter the value 2: 9
5.0 * 9.0 is 45.0
Do you want to continue the calculation or want a new calculation or you want to exit (y/n/e): y
Choose one of the above operation: -
Enter the value 2: 5
45.0 - 5.0 is 40.0
Do you want to continue the calculation or want a new calculation or you want to exit (y/n/e): n
Enter the value 1: 8
+
-
*
/
Choose one of the above operation: +
Enter the value 2: 25
8.0 + 25.0 is 33.0
Do you want to continue the calculation or want a new calculation or you want to exit (y/n/e): e

# Day 11

In [ ]:
# importing random library
import random
from IPython.display import clear_output

In [ ]:
# BlackJack Program
cards=[11,2,3,4,5,6,7,8,9,10,10,10,10]

still_in_game=True
def extra_card():
  return random.choice(cards)

def blackjack():
  user_value_1=random.choice(cards)
  user_value_2=random.choice(cards)
  com_value_1=random.choice(cards)
  com_value_2=random.choice(cards)
  # user_value_1=cards[random.randint(0,len(cards)-1)]
  # user_value_2=cards[random.randint(0,len(cards)-1)]
  # com_value_1=cards[random.randint(0,len(cards)-1)]
  # com_value_2=cards[random.randint(0,len(cards)-1)]

  user_sum=user_value_1+user_value_2
  com_sum=com_value_1+com_value_2

  if user_sum==21:
    print("BlackJack! You win")
    return
  # elif com_sum==21:
  #   print("BlackJack! Com win")
  #   return
  print(f"Your total score is: {user_sum}")
  print(f"Computer's first card score is {com_value_1}")
  more_card=True
  while more_card:
    if input("Do you want more cards(y/n): ").lower()=="n":
      more_card=False
      if user_sum>com_sum:
        print(f"Your score is {user_sum} and Com score is {com_sum}")
        print("BlackJack! You win")
        break
      else:
        print(f"Your score is {user_sum} and Com score is {com_sum}")
        print("You Lose")
        break
    else:
      new_card=extra_card()
      user_sum+=new_card
      print(f"You new card is {new_card} and your score is {user_sum}")

    if com_sum<17:
      new_card=extra_card()
      com_sum+=new_card

    if user_sum>21:
      print(f"Your score is {user_sum} and Com score is {com_sum}")
      print("Bust!! You lose")
      more_card=False
    elif com_sum>21:
      print(f"Your score is {user_sum} and Com score is {com_sum}")
      print("BlackJack! You win")
      more_card=False
blackjack()

while input("Do you want to play the game again? y/n: ").lower()=="y":
  clear_output()
  blackjack()

Your total score is: 14
Computer's first card score is 6
Do you want more cards(y/n): y
You new card is 9 and your score is 23
Your score is 23 and Com score is 17
Bust!! You lose
Do you want to play the game again? y/n: n

# Day 12

In [ ]:
# Local vs Global Scope
g_scope=34
def my_function():
  l_scope=34
  print(f"It will be available only inside the function {l_scope}")

my_function()
print(f"It will be available globally {g_scope}")

It will be available only inside the function 34
It will be available globally 34

In [ ]:
# Python does not support block scope
list=[23,45,25]
if 23 in list:
  n_variable=23
print(n_variable)

23

In [ ]:
# Guess the number

logo='''
GUESS THE NUMBER :)
'''

def guess_result(num):
  guess_num=int(input("Guess the number: "))
  if guess_num>num:
    print(f"{guess_num} is too high.. Guess a little low")
    return 1
  elif guess_num<num:
    print(f"{guess_num} is too low.. Guess a little high")
    return -1
  else:
    print(f"Congratulations.. {guess_num} is the right guess")
    return 0


play=True
while play:
  num=random.randint(1,101)
  print(logo)
  if input("Do you want to play: easy or hard (e/h): ").lower()=="h":
    attempt=10
    number=guess_result(num)
    while attempt>0:
        if number==0:
            break
        attempt-=1
        print(f"You have only {attempt} to guess")
        if attempt==0:
          print("You lose the game")
          print(f"The number was {num}")
          break
        number=guess_result(num)



  else:
    attempt=5
    number=guess_result(num)
    while attempt>0:
        if number==0:
            break
        attempt-=1
        print(f"You have only {attempt} to guess")
        if attempt==0:
          print("You lose the game")
          print(f"The number was {num}")
          break
        number=guess_result(num)




  if input("Do you want to play again? (y/n): ").lower()=="n":
    play=False
  else:
    clear_output()

GUESS THE NUMBER :)

Do you want to play: easy or hard (e/h): e
Guess the number: 60
60 is too high.. Guess a little low
You have only 4 to guess
Guess the number: 40
40 is too high.. Guess a little low
You have only 3 to guess
Guess the number: 20
20 is too low.. Guess a little high
You have only 2 to guess
Guess the number: 25
25 is too high.. Guess a little low
You have only 1 to guess
Guess the number: 23
23 is too low.. Guess a little high
You have only 0 to guess
You lose the game
The number was 24
Do you want to play again? (y/n): n

# Day 13

In [ ]:
# Bug fixing exercise 1
# Which number do you want to check?
number = int(input())

if number % 2 = 0 :  # here the it assigning the value not comparing
  print("This is an even numbe.") velse:

print("This is an odd number.")

# the correct code is
if number % 2 == 0 :
  print("This is an even numbe.") velse:

print("This is an odd number.")

In [ ]:
# Bug fixing exercise 2

# Which year do you want to check?
year = input()  #here we want to take integer but we are taking str by default

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Leap year.")
        else:
            print("Not leap year.")
    else:
        print("Leap year.")
else:
    print("Not leap year.")

# the correct code is

year = int(input())

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Leap year.")
        else:
            print("Not leap year.")
    else:
        print("Leap year.")
else:
    print("Not leap year.")

In [ ]:
# Bug fixing exercise 3

# Target is the number up to which we count
target = int(input())

for number in range(1, target + 1):
    if number % 3 == 0 and number % 5 == 0:
        print("FizzBuzz")
    if number % 3 == 0:  #instead we should use elif
        print("Fizz")
    if number % 5 == 0:
        print("Buzz")
    else:
        print([number])  # here square bracket should be remove as number is int

#the correct code is
# Target is the number up to which we count
target = int(input())

for number in range(1, target + 1):
    if number % 3 == 0 and number % 5 == 0:
        print("FizzBuzz")
    elif number % 3 == 0:
        print("Fizz")
    elif number % 5 == 0:
        print("Buzz")
    else:
        print(number)

# Day 14

In [ ]:
import random
from IPython.display import clear_output

In [ ]:
# Higher and Lower Game

logo = """
    __  ___       __
   / / / (_)___ _/ /_  ___  _____
  / /_/ / / __ `/ __ \/ _ \/ ___/
 / __  / / /_/ / / / /  __/ /
/_/ ///_/\__, /_/ /_/\___/_/
   / /  /____/_      _____  _____
  / /   / __ \ | /| / / _ \/ ___/
 / /___/ /_/ / |/ |/ /  __/ /
/_____/\____/|__/|__/\___/_/
"""

vs = """
  _    __
  | |  / /____
  | | / / ___/
  | |/ (__  )
  |___/____(_)
"""

# Data to play on

data = [
    {
        'name': 'Instagram',
        'follower_count': 346,
        'description': 'Social media platform',
        'country': 'United States'
    },
    {
        'name': 'Cristiano Ronaldo',
        'follower_count': 215,
        'description': 'Footballer',
        'country': 'Portugal'
    },
    {
        'name': 'Ariana Grande',
        'follower_count': 183,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Dwayne Johnson',
        'follower_count': 181,
        'description': 'Actor and professional wrestler',
        'country': 'United States'
    },
    {
        'name': 'Selena Gomez',
        'follower_count': 174,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Kylie Jenner',
        'follower_count': 172,
        'description': 'Reality TV personality and businesswoman and Self-Made Billionaire',
        'country': 'United States'
    },
    {
        'name': 'Kim Kardashian',
        'follower_count': 167,
        'description': 'Reality TV personality and businesswoman',
        'country': 'United States'
    },
    {
        'name': 'Lionel Messi',
        'follower_count': 149,
        'description': 'Footballer',
        'country': 'Argentina'
    },
    {
        'name': 'Beyonc',
        'follower_count': 145,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Neymar',
        'follower_count': 138,
        'description': 'Footballer',
        'country': 'Brasil'
    },
    {
        'name': 'National Geographic',
        'follower_count': 135,
        'description': 'Magazine',
        'country': 'United States'
    },
    {
        'name': 'Justin Bieber',
        'follower_count': 133,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Taylor Swift',
        'follower_count': 131,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Kendall Jenner',
        'follower_count': 127,
        'description': 'Reality TV personality and Model',
        'country': 'United States'
    },
    {
        'name': 'Jennifer Lopez',
        'follower_count': 119,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Nicki Minaj',
        'follower_count': 113,
        'description': 'Musician',
        'country': 'Trinidad and Tobago'
    },
    {
        'name': 'Nike',
        'follower_count': 109,
        'description': 'Sportswear multinational',
        'country': 'United States'
    },
    {
        'name': 'Khlo Kardashian',
        'follower_count': 108,
        'description': 'Reality TV personality and businesswoman',
        'country': 'United States'
    },
    {
        'name': 'Miley Cyrus',
        'follower_count': 107,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': 'Katy Perry',
        'follower_count': 94,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Kourtney Kardashian',
        'follower_count': 90,
        'description': 'Reality TV personality',
        'country': 'United States'
    },
    {
        'name': 'Kevin Hart',
        'follower_count': 89,
        'description': 'Comedian and actor',
        'country': 'United States'
    },
    {
        'name': 'Ellen DeGeneres',
        'follower_count': 87,
        'description': 'Comedian',
        'country': 'United States'
    },
    {
        'name': 'Real Madrid CF',
        'follower_count': 86,
        'description': 'Football club',
        'country': 'Spain'
    },
    {
        'name': 'FC Barcelona',
        'follower_count': 85,
        'description': 'Football club',
        'country': 'Spain'
    },
    {
        'name': 'Rihanna',
        'follower_count': 81,
        'description': 'Musician and businesswoman',
        'country': 'Barbados'
    },
    {
        'name': 'Demi Lovato',
        'follower_count': 80,
        'description': 'Musician and actress',
        'country': 'United States'
    },
    {
        'name': "Victoria's Secret",
        'follower_count': 69,
        'description': 'Lingerie brand',
        'country': 'United States'
    },
    {
        'name': 'Zendaya',
        'follower_count': 68,
        'description': 'Actress and musician',
        'country': 'United States'
    },
    {
        'name': 'Shakira',
        'follower_count': 66,
        'description': 'Musician',
        'country': 'Colombia'
    },
    {
        'name': 'Drake',
        'follower_count': 65,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Chris Brown',
        'follower_count': 64,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'LeBron James',
        'follower_count': 63,
        'description': 'Basketball player',
        'country': 'United States'
    },
    {
        'name': 'Vin Diesel',
        'follower_count': 62,
        'description': 'Actor',
        'country': 'United States'
    },
    {
        'name': 'Cardi B',
        'follower_count': 67,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'David Beckham',
        'follower_count': 82,
        'description': 'Footballer',
        'country': 'United Kingdom'
    },
    {
        'name': 'Billie Eilish',
        'follower_count': 61,
        'description': 'Musician',
        'country': 'United States'
    },
    {
        'name': 'Justin Timberlake',
        'follower_count': 59,
        'description': 'Musician and actor',
        'country': 'United States'
    },
    {
        'name': 'UEFA Champions League',
        'follower_count': 58,
        'description': 'Club football competition',
        'country': 'Europe'
    },
    {
        'name': 'NASA',
        'follower_count': 56,
        'description': 'Space agency',
        'country': 'United States'
    },
    {
        'name': 'Emma Watson',
        'follower_count': 56,
        'description': 'Actress',
        'country': 'United Kingdom'
    },
    {
        'name': 'Shawn Mendes',
        'follower_count': 57,
        'description': 'Musician',
        'country': 'Canada'
    },
    {
        'name': 'Virat Kohli',
        'follower_count': 55,
        'description': 'Cricketer',
        'country': 'India'
    },
    {
        'name': 'Gigi Hadid',
        'follower_count': 54,
        'description': 'Model',
        'country': 'United States'
    },
    {
        'name': 'Priyanka Chopra Jonas',
        'follower_count': 53,
        'description': 'Actress and musician',
        'country': 'India'
    },
    {
        'name': '9GAG',
        'follower_count': 52,
        'description': 'Social media platform',
        'country': 'China'
    },
    {
        'name': 'Ronaldinho',
        'follower_count': 51,
        'description': 'Footballer',
        'country': 'Brasil'
    },
    {
        'name': 'Maluma',
        'follower_count': 50,
        'description': 'Musician',
        'country': 'Colombia'
    },
    {
        'name': 'Camila Cabello',
        'follower_count': 49,
        'description': 'Musician',
        'country': 'Cuba'
    },
    {
        'name': 'NBA',
        'follower_count': 47,
        'description': 'Club Basketball Competition',
        'country': 'United States'
    }
]

def format_data(account):
  """Format account into printable format: name, description and country"""
  name = account["name"]
  description = account["description"]
  country = account["country"]
  # print(f'{name}: {account["follower_count"]}')
  return f"{name}, a {description}, from {country}"

def check(guess,f1,f2):
  if f1>f2:
    return guess=="a"
  else:
    return guess=="b"
play=True
# print(random.choice(data))
score=0
while play:
  print(logo)
  choice1=random.choice(data)
  choice2=random.choice(data)
  f_count1=f_count2=0
  print(f"Compare A: {format_data(choice1)}")
  print(vs)
  print(f"Compare B: {format_data(choice2)}")
  f_count1=choice1["follower_count"]
  f_count2=choice2["follower_count"]
  # for key,value in choice1.items():
  #   if key !="follower_count":
  #     print(value,",",end=" ")
  #   else:
  #     f_count1=value
  # print(vs)
  # print("Compare B:",end=" ")
  # for key,value in choice2.items():
  #   if key!="follower_count":
  #     print(value,",",end=" ")
  #   else:
  #     f_count2=value
  print()

  option=input("Which has more followers A or B: ").lower()
  is_correct=check(option,f_count1,f_count2)

  if is_correct:
    score+=1
    choice1=choice2
    choice2=random.choice(data)
    print(f"You're right! Current score: {score}.")
  else:
    play=False
    print(f"Sorry, that's wrong. Final score: {score}.")
  # print()
  # if option=="a":
  #   if f_count1>f_count2:
  #     print("You made the right choice")
  #   else:
  #     print("Sorry wrong choice")
  # elif option=="b":
  #   if f_count2>f_count1:
  #     print("You made the right choice")
  #   else:
  #     print("Sorry made the wrong choice")
  # else:
  #   print("Invalid Choice")
  # pl=input("Do you want to play again? Yes/No ").lower()
  # if pl=="no":
  #   play=False
  # elif pl=="yes":
  #   clear_output()
  # else:
  #   print("Invalid input")
  #   play=False

    __  ___       __
   / / / (_)___ _/ /_  ___  _____
  / /_/ / / __ `/ __ \/ _ \/ ___/
 / __  / / /_/ / / / /  __/ /
/_/ ///_/\__, /_/ /_/\___/_/
   / /  /____/_      _____  _____
  / /   / __ \ | /| / / _ \/ ___/
 / /___/ /_/ / |/ |/ /  __/ /
/_____/\____/|__/|__/\___/_/

Compare A: Ariana Grande, a Musician and actress, from United States

  _    __
  | |  / /____
  | | / / ___/
  | |/ (__  )
  |___/____(_)

Compare B: 9GAG, a Social media platform, from China

Which has more followers A or B: a
You're right! Current score: 1.

    __  ___       __
   / / / (_)___ _/ /_  ___  _____
  / /_/ / / __ `/ __ \/ _ \/ ___/
 / __  / / /_/ / / / /  __/ /
/_/ ///_/\__, /_/ /_/\___/_/
   / /  /____/_      _____  _____
  / /   / __ \ | /| / / _ \/ ___/
 / /___/ /_/ / |/ |/ /  __/ /
/_____/\____/|__/|__/\___/_/

Compare A: NASA, a Space agency, from United States

  _    __
  | |  / /____
  | | / / ___/
  | |/ (__  )
  |___/____(_)

Compare B: Khlo Kardashian, a Reality TV personality and businesswoman, from United States

Which has more followers A or B: a
Sorry, that's wrong. Final score: 1.

# Day 15

In [ ]:
# Coffee logo
logo="""
      )  (
     (   ) )
      ) ( (
    __(____)_
 .-'---------|
( C|/\/\/\/\/|
 '-./\/\/\/\/|
   '_________'
    '-------'
"""

# Data
MENU = {
    "espresso": {
        "ingredients": {
            "water": 50,
            "coffee": 18,
        },
        "cost": 1.5,
    },
    "latte": {
        "ingredients": {
            "water": 200,
            "milk": 150,
            "coffee": 24,
        },
        "cost": 2.5,
    },
    "cappuccino": {
        "ingredients": {
            "water": 250,
            "milk": 100,
            "coffee": 24,
        },
        "cost": 3.0,
    }
}

resources = {
    "water": 1300,
    "milk": 400,
    "coffee": 1100,
}

def format_data():
  """Format account into printable format: name, description and country"""
  water=resources["water"]
  milk=resources["milk"]
  coffee=resources["coffee"]
  # print(f'{name}: {account["follower_count"]}')
  print(f"Water: {water}, milk: {milk}, coffee: {coffee}")

def espresso():
  if (resources["water"]-MENU["latte"]["ingredients"]["water"])<0 or (resources["milk"]-MENU["latte"]["ingredients"]["milk"])<0 or (resources["coffee"]-MENU["latte"]["ingredients"]["coffee"])<0:
    return False
  else:
    resources["water"]=resources["water"]-MENU["latte"]["ingredients"]["water"]
    resources["milk"]=resources["milk"]-MENU["latte"]["ingredients"]["milk"]
    resources["coffee"]=resources["coffee"]-MENU["latte"]["ingredients"]["coffee"]
    return True

def cappuccino():
  if (resources["water"]-MENU["latte"]["ingredients"]["water"])<0 or (resources["milk"]-MENU["latte"]["ingredients"]["milk"])<0 or (resources["coffee"]-MENU["latte"]["ingredients"]["coffee"])<0:
    return False
  else:
    resources["water"]=resources["water"]-MENU["latte"]["ingredients"]["water"]
    resources["milk"]=resources["milk"]-MENU["latte"]["ingredients"]["milk"]
    resources["coffee"]=resources["coffee"]-MENU["latte"]["ingredients"]["coffee"]
    return True

def latte():
  if (resources["water"]-MENU["latte"]["ingredients"]["water"])<0 or (resources["milk"]-MENU["latte"]["ingredients"]["milk"])<0 or (resources["coffee"]-MENU["latte"]["ingredients"]["coffee"])<0:
    return False
  else:
    resources["water"]=resources["water"]-MENU["latte"]["ingredients"]["water"]
    resources["milk"]=resources["milk"]-MENU["latte"]["ingredients"]["milk"]
    resources["coffee"]=resources["coffee"]-MENU["latte"]["ingredients"]["coffee"]
    return True

def stock_check(option):
  if option=="latte":
    if latte():
      print(f"Enjoy your {option}")
      return True
    else:
      print(f"Sorry! out of stock for {option}")
      return False
  elif option=="cappuccino":
    if cappuccino():
      print(f"Enjoy your {option}")
      return True
    else:
      print(f"Sorry! out of stock for {option} ")
      return False
  else:
    if espresso():
      print(f"Enjoy your {option}")
      return True
    else:
      print(f"Sorry! out of stock for {option} ")
      return False



def coffee_machine():
  more_coffee=True
  while more_coffee:
    print(logo)
    option=input("What would you like? (espresso/latte/cappuccino): ").lower()
    while (option!="latte") and (option!="espresso") and (option!="cappuccino"):
      print("Invalid input")
      option=input("What would you like? (espresso/latte/cappuccino): ").lower()
    check=stock_check(option)
    if not check:
      format_data()
      more_coffee=False
    # else:
    #   clear_output()



coffee_machine()

      )  (
     (   ) )
      ) ( (
    __(____)_
 .-'---------|
( C|/\/\/\/\/|
 '-./\/\/\/\/|
   '_________'
    '-------'

What would you like? (espresso/latte/cappuccino): latte
Enjoy your latte

      )  (
     (   ) )
      ) ( (
    __(____)_
 .-'---------|
( C|/\/\/\/\/|
 '-./\/\/\/\/|
   '_________'
    '-------'

What would you like? (espresso/latte/cappuccino): latte
Enjoy your latte

      )  (
     (   ) )
      ) ( (
    __(____)_
 .-'---------|
( C|/\/\/\/\/|
 '-./\/\/\/\/|
   '_________'
    '-------'

What would you like? (espresso/latte/cappuccino): espresso
Sorry! out of stock for espresso
Water: 900, milk: 100, coffee: 1052

# Day 16

In [ ]:
!pip3 install ColabTurtle

Collecting ColabTurtle
  Downloading ColabTurtle-2.1.0.tar.gz (6.8 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: ColabTurtle
  Building wheel for ColabTurtle (setup.py) ... done
  Created wheel for ColabTurtle: filename=ColabTurtle-2.1.0-py3-none-any.whl size=7641 sha256=97b2a8b39cf26f1759b7b2658f63ca0dc395dbcab34b57f1343ddd4ae21ada2d
  Stored in directory: /root/.cache/pip/wheels/5b/86/e8/54f5c8c853606e3a3060bb2e60363cbed632374a12e0f33ffc
Successfully built ColabTurtle
Installing collected packages: ColabTurtle
Successfully installed ColabTurtle-2.1.0

In [ ]:
from ColabTurtle.Turtle import *

# from ColabTurtle.Turtle import Turtle
# from Turtle import Screen

In [ ]:
import ColabTurtle.Turtle as lia
lia.initializeTurtle(initial_speed=5)
lia.color('blue')
lia.forward(100)
lia.right(45)
lia.color('red')
lia.forward(50)
lia.color('yellow')
lia.right(90)
lia.forward(50)
lia.right(45)
lia.color('green')
lia.forward(100)
lia.color('white')
lia.right(90)
lia.forward(80)

In [ ]:
# OOPS
# from turtle import Turtle, Screen
# import tkinter as tk
# import turtle

timmy=lia
print(timmy," hello")
# my_s=Screen()
# print(my_s)
# timmy=turtle.Turtle()
# print(timmy)
# # my_screen=Screen()
# # print(my_screen.canvheight)

<module 'ColabTurtle.Turtle' from '/usr/local/lib/python3.10/dist-packages/ColabTurtle/Turtle.py'>  hello

In [ ]:
from prettytable import PrettyTable

In [ ]:
table=PrettyTable()
table.add_column("City",["Kolkata","Pune","Delhi","Patna"])
table.add_column("Pincode",[711202,800001,300234,234003])
print(table)

+---------+---------+
|   City  | Pincode |
+---------+---------+
| Kolkata |  711202 |
|   Pune  |  800001 |
|  Delhi  |  300234 |
|  Patna  |  234003 |
+---------+---------+

In [ ]:
# Using align object
table.align["City"]="l"
table.align["Pincode"]="l"
print(table)
print(table.align)

+---------+---------+
| City    | Pincode |
+---------+---------+
| Kolkata | 711202  |
| Pune    | 800001  |
| Delhi   | 300234  |
| Patna   | 234003  |
+---------+---------+
{'base_align_value': 'c', 'City': 'l', 'Pincode': 'l', 'pincode': 'l', 'city': 'r'}

# Day 17

In [ ]:
# Creating a class following PascalCase rule i.e.(FirstMiddleTitle)
class User:
  pass

user_1=User() #creating an object of the class
user_1.id="07"
user_1.username="MKJ"

print(user_1.username,user_1.id)

MKJ 07

In [ ]:
# Creating a constructor
class User:
  def __init__(self,user_id,username):
    self.id=user_id
    self.username=username

user_1=User(7,"MKJ")
user_2=User(20,"David")
print(user_1.username,user_1.id,user_2.username,user_2.id)

MKJ 7 David 20

In [ ]:
# adding method to a class
class User:
  def __init__(self,user_id,username):
    self.id=user_id
    self.username=username
    self.follower=0
    self.following=0
  def follow(self,user):
    user.follower+=1
    self.following+=1
user_1=User(7,"MKJ")
user_2=User(20,"David")
user_1.follow(user_2) #in this user 1 is following user 2
user_2.follow(user_1) #user 2 is following user 1
for i in range(5):
  user_2.follow(user_1)
print("User 1:",user_1.follower,user_1.following,"\nUser 2:",user_2.follower,user_2.following)

User 1: 6 1
User 2: 1 6

In [ ]:
%run data.py

In [ ]:
print(question_data)

[{'text': "A slug's blood is green.", 'answer': 'True'}, {'text': 'The loudest animal is the African Elephant.', 'answer': 'False'}, {'text': 'Approximately one quarter of human bones are in the feet.', 'answer': 'True'}, {'text': 'The total surface area of a human lungs is the size of a football pitch.', 'answer': 'True'}, {'text': 'In West Virginia, USA, if you accidentally hit an animal with your car, you are free to take it home to eat.', 'answer': 'True'}, {'text': 'In London, UK, if you happen to die in the House of Parliament, you are entitled to a state funeral.', 'answer': 'False'}, {'text': 'It is illegal to pee in the Ocean in Portugal.', 'answer': 'True'}, {'text': 'You can lead a cow down stairs but not up stairs.', 'answer': 'False'}, {'text': "Google was originally called 'Backrub'.", 'answer': 'True'}, {'text': "Buzz Aldrin's mother's maiden name was 'Moon'.", 'answer': 'True'}, {'text': 'No piece of square dry paper can be folded in half more than 7 times.', 'answer': 'False'}, {'text': 'A few ounces of chocolate can to kill a small dog.', 'answer': 'True'}]

In [ ]:
data_1=question_data[0]
print(data_1)

{'text': "A slug's blood is green.", 'answer': 'True'}