# Day 1

In [ ]:
print("Hello World!!")

Hello World!!

In [ ]:
print("hello i am \n MKJ")
print("Hello"+"MKJ")

hello i am
 MKJ
HelloMKJ

In [ ]:
#input
# input("What is your name")
print("Hello i am "+ input())

mkj
Hello i am mkj

In [ ]:
name="Mahesh"
print(len(name))

6

In [ ]:
# Swap two value
a=20;b=10
t=a
a=b
b=t
print(a)
print(b)

10
20

In [ ]:
# Band Game generator
print("Hii")
name=input("Enter your city name ")
pet_name=input("Enter your pet name ")
print("Your band name is:"+ name+" "+pet_name)

Hii
Enter your city nameKolkata
Enter your pet namepuppy
Your band name is:Kolkata puppy

# Day 2

In [2]:
# Primitive Data type
# String
print("Hello"[0])

# Integer
num=123456
print(123+456)

# float
dec=1235.63
print(type(dec))

# Boolean
print(num==dec)

H
579
<class 'float'>
False

In [5]:
# Type error
num=len(input(" Enter your name "))
# print("Your name has "+num+" characters") //TypeError: can only concatenate str (not "int") to str

# type conversion
print("Your name has "+ str(num)+" characters")

print(70+ float("125.236"))

 Enter your name Mahesh
Your name has 6 characters
195.236

In [10]:
# Mathematical Operations in Python
print("Addition ",3+5)
print("Substraction ",35-9)
print("Multiply ",3*5)
print("Division ",35/5)
print("Exponent ",3**2)

# PEDMAS(Paranthesis,Exponent,Division,Multiply,Addition,Substract) rule
print(3*3-5/2+6)

print((3*3-5)/2+6)

Addition  8
Substraction  26
Multiply  15
Division  7.0
Exponent  9
12.5
8.0

In [13]:
# Number manipulation and Fstring
print(8/3)
num=(8//3) # gives int value
print(type(num))

print(f"There are {20} flat in {2} building and having {num} gaurd") # Fstring

2.6666666666666665
<class 'int'>
There are 20 flat in a 2 building and having 2 gaurd